*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Mono", sans-serif;
}

body{
    background: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    backdrop-filter: blur(5px);
    color: black;
    padding: 20px;
    text-align: left;
    font-size: 100%;
}

.navbar ul {
    list-style-type: none;
    display: flex;
}

.navbar ul li {
    margin: 0 10px;
}

.navbar ul a {
    color: black;
    text-decoration: none;
}

.hero {
    padding-top: 200px;
    text-align: center;
}

.myname {
    font-weight: normal;
    font-size: 17px;
}

.decor-mountain {
    size: cover;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: -1;
    object-fit:contain;
    top: -100px;
}